<ion-view view-title="Advance Search">
	<ion-content>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Search">
			</label>		
			<label class="item item-input">
				<input type="date" placeholder="Date">
			</label>
			<div class="item item-divider">Category</div>
			<li class="item item-checkbox" ng>
				<label class="checkbox">
					<input type="checkbox">
				</label>
				Category 1
			</li>

			<div class="item item-divider">Village</div>
			<li class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				Village 1
			</li>
			<li class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				Village 2
			</li>
			<li class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox">
				</label>
				Village 3
			</li>
		</div>
	</ion-content>
</ion-view>