<ion-view view-title="{{'home' | translate}}">
	<ion-content>
		<div class="list card" ng-repeat="cont in homecont">
			<div class="item" ng-click="share(cont)">
				<span class="item-note"><i class="ion-android-share-alt"></i></span>
				<h2>{{cont.title | translate}}</h2>
			</div>
			<div class="item item-body">
				<img class="full-image" src="{{cont.image | serverimage}}" ng-if="cont.image">
				<p ng-bind-html="cont.content | translate | cut:true:80:'. . .'"></p>
				<h2>{{'tag' | translate}}</h2>
				<p>
					<a href="#" class="subdued">{{'vill1' | translate}}</a>
					<a href="#" class="subdued">{{'vill2' | translate}}</a>
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>