<ion-view view-title="Home">
	<ion-content>
		<div class="list card">
			<div class="item" ng-click="share(item)">
				<span class="item-note"><i class="ion-android-share-alt"></i></span>
				<h2>Lorem ispum</h2>
			</div>
			<div class="item item-body">
				<img class="full-image" src="img/news.jpg">
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</p>
				<h2>Tags</h2>
				<p>
					<a href="#" class="subdued">Village1</a>
					<a href="#" class="subdued">Village2</a>
				</p>
			</div>
		</div>
		<div class="list card">
			<div class="item">
				<span class="item-note"><i class="ion-android-share-alt"></i></span>
				<h2>Lorem ispum</h2>
			</div>

			<div class="item item-body">
				<!--				<img class="full-image" src="delorean.jpg">-->
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				</p>
				<h2>Tags</h2>
				<p>
					<a href="#" class="subdued">Village1</a>
					<a href="#" class="subdued">Village2</a>
				</p>
			</div>
		</div>
	</ion-content>
</ion-view>