<ion-view view-title="My profile">
	<ion-content>
		<div class="item text-center">
			<img src="img/profile.jpg">
			<!--			<h2 style="">Mahesh Shah</h2>-->
		</div>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="First Name">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Surname Name">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Middle Name">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Real Surname Name">
			</label>
			<label class="item item-input">
				<input type="date" placeholder="Date of Birth">
			</label>
			<label class="item item-input item-select">
				<div class="input-label">
					Gender
				</div>
				<select>
					<option>Male</option>
					<option>Female</option>
				</select>
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Father Name">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Mother Name">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Village">
			</label>
			<label class="item">
				<textarea placeholder="Address"></textarea>
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Profession">
			</label>
		</div>
		<div class="padding-horizontal">
			<button class="button button-full button-positive">
				Submit
			</button>
		</div>
	</ion-content>
</ion-view>