<ion-view view-title="Notification">
	<ion-content>
		<ion-list class="full-width">
			<div class="item">
				<span class="item-note"><i class="ion-android-share-alt"></i></span>
				<h2>Notification1</h2>
			</div>
			<ion-item class="item-text-wrap">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>13/oct/15</p>
			</ion-item>
			<div class="item">
				<span class="item-note"><i class="ion-android-share-alt"></i></span>
				<h2>Notification1</h2>
			</div>
			<ion-item class="item-text-wrap">
				<img class="full-image" src="img/news.jpg">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				<p>13/oct/15</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>