<ion-view view-title="{{'notificationtitle' | translate}}">
	<ion-content>
		<ion-list class="full-width">
			<ion-item class="item-text-wrap notifity" ng-repeat="notify in allnotification">
				<span class="item-note" ng-click="share(notify)"><i class="ion-android-share-alt"></i></span>
				<h2>{{notify.title | translate}}</h2>
				<img class="full-image" ng-src="{{notify.image | serverimage}}" ng-if = "notify.image">
				<p ng-bind-html="notify.content | translate | cut:true:80:'. . .'"></p>
				<p>{{notify.timestamp | formatdate}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>